body{
		font-family: arial, helvetica, sans-serif;
		font-size: 16px;
		color:white;
		background-image: linear-gradient(to right, #9FB6CD, #B9D3EE, #FFFAFA,  #FFFAFA, #B9D3EE, #9FB6CD);
		cursor: url('Imagem/NormalSelect.cur');
	}
	
.bubbles{
	position: relative;
	z-index: -2;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 50px 50px white,
    20px 100px white,
    50px 200px white,
    220px 100px white,
    170px 210px white,
    120px 130px white,
    70px 180px white,
    240px 180px white,
	70px 110px white,
    120px 160px white,
    100px 90px white,
    320px 100px white,
    270px 210px white,
    250px 230px white,
    170px 180px white,
    340px 180px white,
	170px 110px white,
    220px 160px white,
    200px 200px white,
    220px 100px white,
    370px 210px white,
    320px 230px white,
    270px 180px white,
    240px 180px white,
	20px 460px white,
    0px 500px white,
    220px 400px white,
    170px 610px white,
    120px 430px white,
    70px 480px white,
    240px 480px white,
	
	70px 180px white,
    120px 360px white,
    100px 400px white,
    320px 300px white,
    270px 410px white,
    250px 330px white,
    170px 380px white,
    340px 380px white,
	170px 310px white,
    220px 360px white,
    200px 400px white,
    220px 300px white,
    370px 410px white,
    320px 330px white,
    270px 380px white,
    250px 380px white,
	
	70px 510px white,
    120px 560px white,
    100px 600px white,
    320px 500px white,
    270px 610px white,
    220px 530px white,
    170px 580px white,
    340px 580px white,
	170px 510px white,
    220px 560px white,
    200px 600px white,
    220px 500px white,
    370px 610px white,
    320px 530px white,
    270px 580px white,
    240px 580px white,
	
	
	50px 550px white,
    20px 600px white,
    50px 700px white,
    220px 600px white,
    170px 710px white,
    120px 630px white,
    70px 680px white,
    240px 680px white,
	70px 610px white,
    120px 660px white,
    100px 590px white,
    320px 600px white,
    270px 710px white,
    250px 730px white,
    170px 680px white,
    340px 680px white,
	170px 610px white,
    220px 660px white,
    200px 700px white,
    220px 600px white,
    370px 710px white,
    320px 730px white,
    270px 680px white,
    240px 680px white,
	20px 960px white,
    0px 1000px white,
    220px 900px white,
    170px 1110px white,
    120px 1430px white,
    70px 1480px white,
    240px 1480px white,
	
	70px 1180px white,
    120px 1360px white,
    100px 1400px white,
    320px 1300px white,
    270px 1410px white,
    250px 1330px white,
    170px 1380px white,
    340px 1380px white,
	170px 1310px white,
    220px 1360px white,
    200px 1400px white,
    220px 1300px white,
    370px 1410px white,
    320px 1330px white,
    270px 1380px white,
    250px 1380px white,
	
	70px 1510px white,
    120px 1560px white,
    100px 1600px white,
    320px 1500px white,
    270px 1610px white,
    220px 1530px white,
    170px 1580px white,
    340px 1580px white,
	170px 1510px white,
    220px 1560px white,
    200px 1600px white,
    220px 1000px white,
    370px 1110px white,
    320px 1030px white,
    270px 1080px white,
    240px 1080px white,
	50px 550px white,
    20px 650px white,
    50px 700px white,
    220px 650px white,
    170px 710px white,
    120px 630px white,
    70px 680px white,
    240px 680px white,
	70px 610px white,
    120px 660px white,
    100px 590px white,
    320px 650px white,
    270px 710px white,
    250px 730px white,
    170px 680px white,
    340px 680px white,
	170px 610px white,
    220px 660px white,
    200px 700px white,
    220px 650px white,
    370px 710px white,
    320px 730px white,
    270px 680px white,
    240px 680px white,
	20px 960px white,
    0px 1000px white,
    220px 900px white,
    170px 1110px white,
    120px 930px white,
    70px 980px white,
    240px 980px white,
	
	70px 680px white,
    120px 360px white,
    100px 900px white,
    320px 800px white,
    270px 910px white,
    250px 830px white,
    170px 880px white,
    340px 880px white,
	170px 810px white,
    220px 860px white,
    200px 900px white,
    220px 800px white,
    370px 410px white,
    320px 830px white,
    270px 880px white,
    250px 880px white,
	
	70px 1010px white,
    120px 1060px white,
    100px 1100px white,
    320px 1000px white,
    270px 1110px white,
    220px 1030px white,
    170px 1080px white,
    340px 1080px white,
	170px 1010px white,
    220px 1060px white,
    200px 1100px white,
    220px 1000px white,
    370px 1110px white,
    320px 1030px white,
    270px 1080px white,
    240px 1080px white,
	
	
	50px 5550px white,
    20px 1100px white,
    50px 1200px white,
    220px 1100px white,
    170px 1210px white,
    120px 1130px white,
    70px 1180px white,
    240px 1180px white,
	70px 1110px white,
    120px 1160px white,
    100px 5590px white,
    320px 1100px white,
    270px 1210px white,
    250px 1230px white,
    170px 1180px white,
    340px 1180px white,
	170px 1110px white,
    220px 1160px white,
    200px 1200px white,
    220px 1100px white,
    370px 1210px white,
    320px 1230px white,
    270px 1180px white,
    240px 1180px white,
	20px 1460px white,
    0px 1500px white,
    220px 1400px white,
    170px 1610px white,
    120px 1930px white,
    70px 1980px white,
    240px 1980px white,
	
	70px 1680px white,
    120px 1860px white,
    100px 1900px white,
    320px 1800px white,
    270px 2010px white,
    250px 1830px white,
    170px 1880px white,
    340px 1880px white,
	170px 1810px white,
    220px 1860px white,
    200px 1900px white,
    220px 1800px white,
    370px 1910px white,
    320px 1830px white,
    270px 1880px white,
    250px 1880px white,
	
	70px 2010px white,
    120px 2060px white,
    100px 2100px white,
    320px 11000px white,
    270px 11110px white,
    220px 2030px white,
    170px 2080px white,
    340px 2080px white,
	170px 2010px white,
    220px 2060px white,
    200px 2100px white,
    220px 1500px white,
    370px 1610px white,
    320px 1530px white,
    270px 1580px white,
    240px 1580px white,
	50px 50px white,
    120px 100px white,
    50px 200px white,
    1220px 100px white,
    1170px 210px white,
    1120px 130px white,
    170px 180px white,
    1240px 180px white,
	170px 110px white,
    1120px 160px white,
    1100px 90px white,
    1320px 100px white,
    1270px 210px white,
    1250px 230px white,
    1170px 180px white,
    1340px 180px white,
	1170px 110px white,
    1220px 160px white,
    1200px 200px white,
    1220px 100px white,
    1370px 210px white,
    1320px 230px white,
    1270px 180px white,
    1240px 180px white,
	120px 460px white,
    50px 500px white,
    1220px 400px white,
    1170px 610px white,
    1120px 430px white,
    170px 480px white,
    1240px 480px white,
	
	170px 180px white,
    1120px 360px white,
    1100px 400px white,
    1320px 300px white,
    1270px 410px white,
    1250px 330px white,
    1170px 380px white,
    1340px 380px white,
	1170px 310px white,
    1220px 360px white,
    1200px 400px white,
    1220px 300px white,
    1370px 410px white,
    1320px 330px white,
    1270px 380px white,
    1250px 380px white,
	
	170px 510px white,
    1120px 560px white,
    1100px 600px white,
    1320px 500px white,
    1270px 610px white,
    1220px 530px white,
    1170px 580px white,
    1340px 580px white,
	1170px 510px white,
    1220px 560px white,
    1200px 600px white,
    1220px 500px white,
    1370px 610px white,
    1320px 530px white,
    1270px 580px white,
    1240px 580px white,
	
	
	150px 550px white,
    120px 600px white,
    50px 700px white,
    1220px 600px white,
    1170px 710px white,
    1120px 630px white,
    170px 680px white,
    1240px 680px white,
	170px 610px white,
    1120px 660px white,
    1100px 590px white,
    1320px 600px white,
    1270px 710px white,
    1250px 730px white,
    1170px 680px white,
    1340px 680px white,
	1170px 610px white,
    1220px 660px white,
    1200px 700px white,
    1220px 600px white,
    1370px 710px white,
    1320px 730px white,
    1270px 680px white,
    1240px 680px white,
	120px 960px white,
    50px 1000px white,
    1220px 900px white,
    1170px 1110px white,
    1120px 1430px white,
    170px 1480px white,
    1240px 1480px white,
	
	170px 1180px white,
    1120px 1360px white,
    1100px 1400px white,
    1320px 1300px white,
    1270px 1410px white,
    1250px 1330px white,
    1170px 1380px white,
    1340px 1380px white,
	1170px 1310px white,
    1220px 1360px white,
    1200px 1400px white,
    1220px 1300px white,
    1370px 1410px white,
    1320px 1330px white,
    1270px 1380px white,
    1250px 1380px white,
	
	170px 1510px white,
    1120px 1560px white,
    1100px 1600px white,
    1320px 1500px white,
    1270px 1610px white,
    1220px 1530px white,
    1170px 1580px white,
    1340px 1580px white,
	1170px 1510px white,
    1220px 1560px white,
    1200px 1600px white,
    1220px 1000px white,
    1370px 1110px white,
    1320px 1030px white,
    1270px 1080px white,
    1240px 1080px white,
	150px 550px white,
    120px 650px white,
    50px 700px white,
    1220px 650px white,
    1170px 710px white,
    1120px 630px white,
    170px 680px white,
    1240px 680px white,
	170px 610px white,
    1120px 660px white,
    1100px 590px white,
    1320px 650px white,
    1270px 710px white,
    1250px 730px white,
    1170px 680px white,
    1340px 680px white,
	1170px 610px white,
    1220px 660px white,
    1200px 700px white,
    1220px 650px white,
    1370px 710px white,
    1320px 730px white,
    1270px 680px white,
    1240px 680px white,
	120px 960px white,
    50px 1000px white,
    1220px 900px white,
    1170px 1110px white,
    1120px 930px white,
    170px 980px white,
    1240px 980px white,
	
	170px 680px white,
    1120px 360px white,
    1100px 900px white,
    1320px 800px white,
    1270px 910px white,
    1250px 830px white,
    1170px 880px white,
    1340px 880px white,
	1170px 810px white,
    1220px 860px white,
    1200px 900px white,
    1220px 800px white,
    1370px 410px white,
    1320px 830px white,
    1270px 880px white,
    1250px 880px white,
	
	170px 1010px white,
    1120px 1060px white,
    1100px 1100px white,
    1320px 1000px white,
    1270px 1110px white,
    1220px 1030px white,
    1170px 1080px white,
    1340px 1080px white,
	1170px 1010px white,
    1220px 1060px white,
    1200px 1100px white,
    1220px 1000px white,
    1370px 1110px white,
    1320px 1030px white,
    1270px 1080px white,
    1240px 1080px white,
	
	
	150px 5550px white,
    120px 1100px white,
    50px 1200px white,
    1220px 1100px white,
    1170px 1210px white,
    1120px 1130px white,
    170px 1180px white,
    1240px 1180px white,
	170px 1110px white,
    1120px 1160px white,
    1100px 5590px white,
    1320px 1100px white,
    1270px 1210px white,
    1250px 1230px white,
    1170px 1180px white,
    1340px 1180px white,
	1170px 1110px white,
    1220px 1160px white,
    1200px 1200px white,
    1220px 1100px white,
    1370px 1210px white,
    1320px 1230px white,
    1270px 1180px white,
    1240px 1180px white,
	120px 1460px white,
    50px 1500px white,
    1220px 1400px white,
    1170px 1610px white,
    1120px 1930px white,
    170px 1980px white,
    1240px 1980px white,
	
	170px 1680px white,
    1120px 1860px white,
    1100px 1900px white,
    1320px 1800px white,
    1270px 2010px white,
    1250px 1830px white,
    1170px 1880px white,
    1340px 1880px white,
	1170px 1810px white,
    1220px 1860px white,
    1200px 1900px white,
    1220px 1800px white,
    1370px 1910px white,
    1320px 1830px white,
    1270px 1880px white,
    1250px 1880px white,
	
	170px 2010px white,
    1120px 2060px white,
    1100px 2100px white,
    1320px 11000px white,
    1270px 11110px white,
    1220px 2030px white,
    1170px 2080px white,
    1340px 2080px white,
	1170px 2010px white,
    1220px 2060px white,
    1200px 2100px white,
    1220px 1500px white,
    1370px 1610px white,
    1320px 1530px white,
    1270px 1580px white,
    1240px 1580px white;
	animation: anim-bubbles 5s linear infinite;
}

@keyframes anim-bubbles {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-1500px);
    }
}

.bubbles::after{
  content: " ";
  position: absolute;
  z-index: -2;
  top: 1500px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 50px 50px white,
    20px 100px white,
    0px 200px white,
    220px 100px white,
    170px 210px white,
    120px 130px white,
    70px 180px white,
    240px 180px white,
	70px 110px white,
    120px 160px white,
    100px 90px white,
    320px 100px white,
    270px 210px white,
    250px 230px white,
    170px 180px white,
    340px 180px white,
	170px 110px white,
    220px 160px white,
    200px 200px white,
    220px 100px white,
    370px 210px white,
    320px 230px white,
    270px 180px white,
    240px 180px white,
	20px 460px white,
    0px 500px white,
    220px 400px white,
    170px 610px white,
    120px 430px white,
    70px 480px white,
    240px 480px white,
	
	70px 180px white,
    120px 360px white,
    100px 400px white,
    320px 300px white,
    270px 410px white,
    250px 330px white,
    170px 380px white,
    340px 380px white,
	170px 310px white,
    220px 360px white,
    200px 400px white,
    220px 300px white,
    370px 410px white,
    320px 330px white,
    270px 380px white,
    250px 380px white,
	
	70px 510px white,
    120px 560px white,
    100px 600px white,
    320px 500px white,
    270px 610px white,
    220px 530px white,
    170px 580px white,
    340px 580px white,
	170px 510px white,
    220px 560px white,
    200px 600px white,
    220px 500px white,
    370px 610px white,
    320px 530px white,
    270px 580px white,
    240px 580px white,
	
	
	50px 550px white,
    20px 600px white,
    0px 700px white,
    220px 600px white,
    170px 710px white,
    120px 630px white,
    70px 680px white,
    240px 680px white,
	70px 610px white,
    120px 660px white,
    100px 590px white,
    320px 600px white,
    270px 710px white,
    250px 730px white,
    170px 680px white,
    340px 680px white,
	170px 610px white,
    220px 660px white,
    200px 700px white,
    220px 600px white,
    370px 710px white,
    320px 730px white,
    270px 680px white,
    240px 680px white,
	20px 960px white,
    0px 1000px white,
    220px 900px white,
    170px 1110px white,
    120px 1430px white,
    70px 1480px white,
    240px 1480px white,
	
	70px 1180px white,
    120px 1360px white,
    100px 1400px white,
    320px 1300px white,
    270px 1410px white,
    250px 1330px white,
    170px 1380px white,
    340px 1380px white,
	170px 1310px white,
    220px 1360px white,
    200px 1400px white,
    220px 1300px white,
    370px 1410px white,
    320px 1330px white,
    270px 1380px white,
    250px 1380px white,
	
	70px 1510px white,
    120px 1560px white,
    100px 1600px white,
    320px 1500px white,
    270px 1610px white,
    220px 1530px white,
    170px 1580px white,
    340px 1580px white,
	170px 1510px white,
    220px 1560px white,
    200px 1600px white,
    220px 1000px white,
    370px 1110px white,
    320px 1030px white,
    270px 1080px white,
    240px 1080px white,
	50px 550px white,
    20px 650px white,
    0px 700px white,
    220px 650px white,
    170px 710px white,
    120px 630px white,
    70px 680px white,
    240px 680px white,
	70px 610px white,
    120px 660px white,
    100px 590px white,
    320px 650px white,
    270px 710px white,
    250px 730px white,
    170px 680px white,
    340px 680px white,
	170px 610px white,
    220px 660px white,
    200px 700px white,
    220px 650px white,
    370px 710px white,
    320px 730px white,
    270px 680px white,
    240px 680px white,
	20px 960px white,
    0px 1000px white,
    220px 900px white,
    170px 1110px white,
    120px 930px white,
    70px 980px white,
    240px 980px white,
	
	70px 680px white,
    120px 360px white,
    100px 900px white,
    320px 800px white,
    270px 910px white,
    250px 830px white,
    170px 880px white,
    340px 880px white,
	170px 810px white,
    220px 860px white,
    200px 900px white,
    220px 800px white,
    370px 410px white,
    320px 830px white,
    270px 880px white,
    250px 880px white,
	
	70px 1010px white,
    120px 1060px white,
    100px 1100px white,
    320px 1000px white,
    270px 1110px white,
    220px 1030px white,
    170px 1080px white,
    340px 1080px white,
	170px 1010px white,
    220px 1060px white,
    200px 1100px white,
    220px 1000px white,
    370px 1110px white,
    320px 1030px white,
    270px 1080px white,
    240px 1080px white,
	
	
	50px 5550px white,
    20px 1100px white,
    0px 1200px white,
    220px 1100px white,
    170px 1210px white,
    120px 1130px white,
    70px 1180px white,
    240px 1180px white,
	70px 1110px white,
    120px 1160px white,
    100px 5590px white,
    320px 1100px white,
    270px 1210px white,
    250px 1230px white,
    170px 1180px white,
    340px 1180px white,
	170px 1110px white,
    220px 1160px white,
    200px 1200px white,
    220px 1100px white,
    370px 1210px white,
    320px 1230px white,
    270px 1180px white,
    240px 1180px white,
	20px 1460px white,
    0px 1500px white,
    220px 1400px white,
    170px 1610px white,
    120px 1930px white,
    70px 1980px white,
    240px 1980px white,
	
	70px 1680px white,
    120px 1860px white,
    100px 1900px white,
    320px 1800px white,
    270px 2010px white,
    250px 1830px white,
    170px 1880px white,
    340px 1880px white,
	170px 1810px white,
    220px 1860px white,
    200px 1900px white,
    220px 1800px white,
    370px 1910px white,
    320px 1830px white,
    270px 1880px white,
    250px 1880px white,
	
	70px 2010px white,
    120px 2060px white,
    100px 2100px white,
    320px 11000px white,
    270px 11110px white,
    220px 2030px white,
    170px 2080px white,
    340px 2080px white,
	170px 2010px white,
    220px 2060px white,
    200px 2100px white,
    220px 1500px white,
    370px 1610px white,
    320px 1530px white,
    270px 1580px white,
    240px 1580px white,
	50px 50px white,
    120px 100px white,
    50px 200px white,
    1220px 100px white,
    1170px 210px white,
    1120px 130px white,
    170px 180px white,
    1240px 180px white,
	170px 110px white,
    1120px 160px white,
    1100px 90px white,
    1320px 100px white,
    1270px 210px white,
    1250px 230px white,
    1170px 180px white,
    1340px 180px white,
	1170px 110px white,
    1220px 160px white,
    1200px 200px white,
    1220px 100px white,
    1370px 210px white,
    1320px 230px white,
    1270px 180px white,
    1240px 180px white,
	120px 460px white,
    50px 500px white,
    1220px 400px white,
    1170px 610px white,
    1120px 430px white,
    170px 480px white,
    1240px 480px white,
	
	170px 180px white,
    1120px 360px white,
    1100px 400px white,
    1320px 300px white,
    1270px 410px white,
    1250px 330px white,
    1170px 380px white,
    1340px 380px white,
	1170px 310px white,
    1220px 360px white,
    1200px 400px white,
    1220px 300px white,
    1370px 410px white,
    1320px 330px white,
    1270px 380px white,
    1250px 380px white,
	
	170px 510px white,
    1120px 560px white,
    1100px 600px white,
    1320px 500px white,
    1270px 610px white,
    1220px 530px white,
    1170px 580px white,
    1340px 580px white,
	1170px 510px white,
    1220px 560px white,
    1200px 600px white,
    1220px 500px white,
    1370px 610px white,
    1320px 530px white,
    1270px 580px white,
    1240px 580px white,
	
	
	150px 550px white,
    120px 600px white,
    50px 700px white,
    1220px 600px white,
    1170px 710px white,
    1120px 630px white,
    170px 680px white,
    1240px 680px white,
	170px 610px white,
    1120px 660px white,
    1100px 590px white,
    1320px 600px white,
    1270px 710px white,
    1250px 730px white,
    1170px 680px white,
    1340px 680px white,
	1170px 610px white,
    1220px 660px white,
    1200px 700px white,
    1220px 600px white,
    1370px 710px white,
    1320px 730px white,
    1270px 680px white,
    1240px 680px white,
	120px 960px white,
    50px 1000px white,
    1220px 900px white,
    1170px 1110px white,
    1120px 1430px white,
    170px 1480px white,
    1240px 1480px white,
	
	170px 1180px white,
    1120px 1360px white,
    1100px 1400px white,
    1320px 1300px white,
    1270px 1410px white,
    1250px 1330px white,
    1170px 1380px white,
    1340px 1380px white,
	1170px 1310px white,
    1220px 1360px white,
    1200px 1400px white,
    1220px 1300px white,
    1370px 1410px white,
    1320px 1330px white,
    1270px 1380px white,
    1250px 1380px white,
	
	170px 1510px white,
    1120px 1560px white,
    1100px 1600px white,
    1320px 1500px white,
    1270px 1610px white,
    1220px 1530px white,
    1170px 1580px white,
    1340px 1580px white,
	1170px 1510px white,
    1220px 1560px white,
    1200px 1600px white,
    1220px 1000px white,
    1370px 1110px white,
    1320px 1030px white,
    1270px 1080px white,
    1240px 1080px white,
	150px 550px white,
    120px 650px white,
    50px 700px white,
    1220px 650px white,
    1170px 710px white,
    1120px 630px white,
    170px 680px white,
    1240px 680px white,
	170px 610px white,
    1120px 660px white,
    1100px 590px white,
    1320px 650px white,
    1270px 710px white,
    1250px 730px white,
    1170px 680px white,
    1340px 680px white,
	1170px 610px white,
    1220px 660px white,
    1200px 700px white,
    1220px 650px white,
    1370px 710px white,
    1320px 730px white,
    1270px 680px white,
    1240px 680px white,
	120px 960px white,
    50px 1000px white,
    1220px 900px white,
    1170px 1110px white,
    1120px 930px white,
    170px 980px white,
    1240px 980px white,
	
	170px 680px white,
    1120px 360px white,
    1100px 900px white,
    1320px 800px white,
    1270px 910px white,
    1250px 830px white,
    1170px 880px white,
    1340px 880px white,
	1170px 810px white,
    1220px 860px white,
    1200px 900px white,
    1220px 800px white,
    1370px 410px white,
    1320px 830px white,
    1270px 880px white,
    1250px 880px white,
	
	170px 1010px white,
    1120px 1060px white,
    1100px 1100px white,
    1320px 1000px white,
    1270px 1110px white,
    1220px 1030px white,
    1170px 1080px white,
    1340px 1080px white,
	1170px 1010px white,
    1220px 1060px white,
    1200px 1100px white,
    1220px 1000px white,
    1370px 1110px white,
    1320px 1030px white,
    1270px 1080px white,
    1240px 1080px white,
	
	
	150px 5550px white,
    120px 1100px white,
    50px 1200px white,
    1220px 1100px white,
    1170px 1210px white,
    1120px 1130px white,
    170px 1180px white,
    1240px 1180px white,
	170px 1110px white,
    1120px 1160px white,
    1100px 5590px white,
    1320px 1100px white,
    1270px 1210px white,
    1250px 1230px white,
    1170px 1180px white,
    1340px 1180px white,
	1170px 1110px white,
    1220px 1160px white,
    1200px 1200px white,
    1220px 1100px white,
    1370px 1210px white,
    1320px 1230px white,
    1270px 1180px white,
    1240px 1180px white,
	120px 1460px white,
    50px 1500px white,
    1220px 1400px white,
    1170px 1610px white,
    1120px 1930px white,
    170px 1980px white,
    1240px 1980px white,
	
	170px 1680px white,
    1120px 1860px white,
    1100px 1900px white,
    1320px 1800px white,
    1270px 2010px white,
    1250px 1830px white,
    1170px 1880px white,
    1340px 1880px white,
	1170px 1810px white,
    1220px 1860px white,
    1200px 1900px white,
    1220px 1800px white,
    1370px 1910px white,
    1320px 1830px white,
    1270px 1880px white,
    1250px 1880px white,
	
	170px 2010px white,
    1120px 2060px white,
    1100px 2100px white,
    1320px 11000px white,
    1270px 11110px white,
    1220px 2030px white,
    1170px 2080px white,
    1340px 2080px white,
	1170px 2010px white,
    1220px 2060px white,
    1200px 2100px white,
    1220px 1500px white,
    1370px 1610px white,
    1320px 1530px white,
    1270px 1580px white,
    1240px 1580px white;
	
}
	
.fundoGif	{
				left:0;
				top:0;
				width:100%;
				height:100%;
				position:fixed;
				opacity:0.5;
				z-index: -3;
				-webkit-filter: blur(6px);
				filter: blur(1px);
				cursor: url(http://www.rw-designer.com/cursor-extern.php?id=9550);


			}
	
.divMeioTela 	{
					border:1px solid #009ACD;
					background-image: linear-gradient(to right, #D1EEEE, #FFFFFF, #FFFFFF, #FFFFFF,  #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF,  #FFFFFF, #FFFFFF,#D1EEEE);
					height:1500px;
					width:70%;
					position: relative;
					left:15%;
					top: 200px;
					z-index: -1;
					border-radius:20px;
					-moz-box-shadow:0 3px 30px 0 #1E90FF;
					-webkit-box-shadow:0 3px 30px 0 #1E90FF;
					cursor: url(http://www.rw-designer.com/cursor-extern.php?id=9550);

				}
				
.tituloTopico	{
					font: 180% sans-serif;
					width: 90%;
					margin: -5%;
				}
				
.subTituloTopico{
					font: 150% sans-serif;
					width: 30%;
					margin: 8%;
					color:#009ACD;
				}
.textoCinza		{
					color: #696969;
				}
				
.textoDivMeio	{
					float:left;
					font: 100% sans-serif;
					width: 90%;
					height: 200%;
					margin:10%;
 					color: #00688B;
				}
				


.imgLinkedInLinks{
				padding: 5px 5px;
				width: 5%;
				height: 2%;
				left: 10%;
				top: 15%;
				position: relative;
				border-radius:10px;
				transition: all 0.5s;
				cursor: pointer;

			}
			
.imgLinkedInLinks:hover{
    -webkit-filter: blur(30px);
    filter: blur(10px);
}
			
.imgFacebookLinks{
				padding: 5px 5px;
				width: 5%;
				height: 2%;
				left: 20%;
				top: 15%;
				position: relative;
				border-radius:10px;
				transition: all 0.5s;
				cursor: pointer;
			}
			
.imgFacebookLinks:hover{
				-webkit-filter: blur(3px);
				filter: blur(1px);
			}
	
.imgWhatsappLinks{
				padding: 2px 2px;
				width: 5.5%;
				height: 2.5%;
				left: 30%;
				top: 15%;
				position: relative;
				border-radius:10px;
				transition: all 0.5s;
				cursor: pointer;
			}

.imgWhatsappLinks:hover{
				-webkit-filter: blur(3px);
				filter: blur(1px);
			}
